{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "CVProfilBundle::layout.html.twig" %}

{% block body %}

  <h2>Ajouter une Entreprise</h2>

  {{ include("CVProfilBundle:Client:form.html.twig") }}


{% endblock %}