{% extends "CVProfilBundle::layout.html.twig" %}

{% block title %}
  Supprimer un Commentaire - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Supprimer un Commentaire</h2>

  <p>
    Etes-vous certain de vouloir supprimer ce commentaire ?
  </p><br><br>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('cv_profil_delete_com', {'id': Com.id,'id_profil': Profil.id}) }}" method="post">
    <a href="{{ path('cv_profil_view', {'id': Profil.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour au profil
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}