{% extends "CVProfilBundle::layout.html.twig" %}

{% block title %}
  Supprimer une Action 
{% endblock %}
{% block body %}
  <h2>Supprimer une Action</h2>

  <p>
    Etes-vous certain de vouloir supprimer cet action "{{ Actions.nom }}" ?
  </p><br><br>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('cv_profil_deleteaction', {'id': Actions.id}) }}" method="post">
    <a href="{{ path('cv_profil_viewaction', {'id': Actions.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'action
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}