<div class="row">
    <div class="col-sm-4">
        {{ form_row(form.name, {'label': 'Nom du fichier'}) }}
    </div>
    <div class="col-sm-4">
           {{ form_row(form.file, {'label': 'Fichier'}) }}
    </div>
</div>