<div class="row">
    <div class="col-sm-4">
        {{ form_row(form.libelle, {'label': 'Libellé du lien '}) }}
    </div>
    <div class="col-sm-4">
           {{ form_row(form.urlchamp, {'label': 'URL '}) }}
    </div>
</div>