 <div class="competence">
{{ form_row(form.intitule, {'label': 'Intitulé *'}) }}

{{ form_row(form.descriptif, {'label': 'Descriptif *'}) }}

<div class="row">	
    <div class="col-sm-12 form-inline">
{{ form_row(form.tags, {'label': 'Tags'}) }}
          </div>
</div>
<br>
</div>



