<div class="formation">
	
<div class="row">
    <div class="col-sm-6">
        {{ form_row(form.annee_debut, {'label': 'Année de début *'}) }}

    </div>
    <div class="col-sm-6">
           {{ form_row(form.annee_fin, {'label': 'Année de fin'}) }}
    </div>
</div>


{{ form_row(form.nom_formation, {'label': 'Nom de la formation *'}) }}

{{ form_row(form.descriptif, {'label': 'Descriptif *'}) }}
</div>
