<div class="row">
    <div class="col-sm-4">
        {{ form_row(form.langage, {'label': 'Langue *'}) }}
    </div>
    <div class="col-sm-4">
           {{ form_row(form.niveau, {'label': 'Niveau *'}) }}
    </div>
</div>