

{% extends "::layout.html.twig" %}

{% block title %}
  Profils - {{ parent() }}
{% endblock %}

{% block body %}

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
{% if app.user.username is defined %}
  <h1>Bonjour {{ app.user.username }}</h1>
 {% endif %} 
  {% block cvprofil_body %}

  <hr>
  {% endblock %}

{% endblock %}